@import "colors";

.modal-content{
  background-color: @blue;
  color: @terra;
  font-size: 1vw;
  text-align: center;
  cursor: default;
}

.modal-dialog{
  margin-top: 100px;
  margin-left: 17.5%;
  width: 40%;
}

.modal-header, .modal-footer{
  border: none;
}

.close {
  color: @terra;
  opacity: 1;
}

.btn-default{
  background-color: @terra;
  color: @blue;
  &:hover{
    background-color: @darkblue;
    color: @terra;
    border-color: @darkblue;
  }
}

.modal-backdrop{
  visibility: hidden;
}
@media (max-width: 1199px), (max-height: 845px){
  .modal-dialog{
    margin-left: 25%;
    width: 50%;
  }
}
