@import "colors";

.navbar-default{
  background-color: @darkblue;

  .navbar-brand{
    color: @terra;
    font-size: 22px;

    &:hover{
      color: @darkterra;
    }
  }
}

.navbar{
  border-radius: 0;
  border: none;
  margin: 0;
}