@import "colors";

.navbar-default{
  background-color: @darkblue;

  .navbar-brand{
    color: @terra;
    font-size: 22px;

    &:hover{
      color: @darkterra;
    }
  }
}

.navbar{
  border-radius: 0;
  border: none;
}



.bds-speed-label{
  margin-top: 15px;
  color: @terra;
}

#bds-offset{
  margin-right: 2%;
}



.bds-speed-input{
  width: 15%;
  margin-top: 9px;
  padding-right: 1%;
  padding-left: 1%;
}