@darkblue: #031634;
@blue: #033649;
@darkterra: #CDB380;
@terra: #E8DDCB;

.navbar-default{
  background-color: @darkblue;

  .navbar-brand{
    color: @terra;
    font-size: 22px;

    &:hover{
      color: @darkterra;
    }
  }
}

.navbar{
  border-radius: 0;
  border: none;
  margin: 0;
}