@darkblue: #031634;
@blue: #033649;
@darkterra: #CDB380;
@terra: #E8DDCB;

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

//navbar
.navbar-default{
  background-color: @darkblue;

  .navbar-brand{
    color: @terra;
    font-size: 22px;

    &:hover{
      color: @darkterra;
    }
  }
}

.navbar{
  border-radius: 0;
  border: none;
  margin: 0;
}

//wrapper
#wrapper{
  background-color: @terra;
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

#threejs-container{
  height: 100%;
  background: white url('../../placeholder.png') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

#placeholder{
  text-align: center;
  font-size: larger;
}

#control-panel{
  height: 100%;
  background-color: @terra;
}

@media (max-width: 1200px) {
  #control-panel{
    display: none;
  }
}