@import "colors";
@import "navbar";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

//wrapper
#bds-wrapper {
  background-color: @terra;
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

#bds-threejs-container {
  height: 100%;
  background: white url('../../placeholder.png') no-repeat;
  background-size: contain;
  opacity: 0.6;
}

#bds-placeholder {
  text-align: center;
  font-size: larger;
}

.bds-label {
  font-size: 2vw;
  line-height: 0.6;
}

#bds-control-panel {
  height: 100%;
  background-color: @terra;
  color: @blue;
  text-align: center;
}

.bds-speed {
  font-size: 10vw;
  line-height: 1;
}

#bds-speed-controls {
  margin-top: 3vh;
  .btn-group {
    width: 80%;
    .btn-default {
      width: 16.6%;
      background-color: @blue;
      color: @terra;
      &:hover {
        background-color: @darkblue;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  #bds-control-panel {
    display: none;
  }
}